body {
    /*background-image: url('https://cdn.pixabay.com/photo/2016/02/29/06/42/soft-1228128_960_720.jpg');*/
    /*background-image: url('images/soft-1228128_1920.jpg');*/
    background-attachment: fixed;
      font-family: 'Poiret One', cursive;
    font-size:large;
        color: #757575;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-btn {
    margin-right: 3px;
        font-weight: bold;
}

.btn-success {
     margin-bottom: 3px;
}

table{
    width:50%;
    text-align:center;
}

.well{
    width:100%;
    height: 300px;
    
}

.tabledata{
     height: 350px;
     margin-bottom: 30px;
     box-shadow: 2px 1px 2px 2px rgba(0,0,0,0.5);
     padding: 5px;
    margin-left: 15px;
    margin-right: 1px;
        background-color: rgba(255, 255, 255, 0.7);
}

.label {
    display: inline;
    /* padding: .2em .6em .3em; */
    /*font-size: 100%;*/
    font-weight: bold;
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.img-rounded {
    vertical-align: middle;
    box-shadow: 6px 1px 10px grey;
    padding: 5px;
    padding-right: 0px;
}

img {
    margin-top: 20px;
}

.col-lg-3{
    margin-left: 20px;
    }

.topTable{
    width:100%;
    margin-bottom:10px;
}

.itemsPerPage {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
        font-weight: bold;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 10px;
}

.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.41);
}

.col-lg-3 {
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.41);
    height:863px;

}


.navbar-inverse {
    background-color:black;
    border:rgba(255, 255, 255, 0.41);
    font-family: 'Poiret One', cursive;
    font-size:large;
        color: #757575;
        font-weight: bold;
}

.navbar-inverse .navbar-brand {
    font-family: 'Poiret One', cursive;
   font-size: 50px;
    color: #757575;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 20px;
}



.btn-lg {
    font-weight: bold;
}

.input-group-btn > .btn {
    font-weight: bold;
}

.form-control{
    font-weight:bold;
}

h3{
     font-family: 'Poiret One', cursive;
     font-weight:bold;
    
}

.product{
    padding-bottom:50px;
}

.btn-primary {
    color: #fff;
    background-color: #a9b9d8;
    border-color: #a9b9d8;
}


.col-md-8 {
    /*padding-left: 50px;*/
}